@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import "./_variables.sass";
@import "~bulma/bulma";

h1, h1, h3, h4, h5, h6, .html-logo {
  font-family: $family-header;
}

.navbar-item { align-items: flex-end;line-height:1; }

.html-logo {
  display:inline-flex;
  flex-direction:row;
  font-size: $size-4;
  .content {
    margin-top:-.25rem;
  }
  svg { margin:.15rem; }
}
@function lightTo($color, $light) {
  @return hsl(hue($color), saturation($color), $light);
}

@mixin tabStyle($color) {
  background-color: $color !important;
  color:lightTo($color, lightness($color) * 1.5) !important;
  border-width:1px 1px 0 1px;
  border-color:lighten($color, 30) !important;
}

.nav-home { @include tabStyle($grey) }
.nav-first { @include tabStyle($green) }
.nav-second { @include tabStyle($blue) }
.nav-third { @include tabStyle($red) }
.nav-fourth { @include tabStyle($purple) }

.navbar-start .navbar-item {
  height:2rem;
  border-radius:.6rem .6rem 0 0;
  box-shadow: inset 0 -15px 22px -15px rgba(0,0,0,.4);
}
.navbar-start .navbar-item.is-active {
  height:2.4rem;
  color:$white-ter !important;
  border-radius:.6rem .6rem 0 0;
  box-shadow: none;
  align-items: center;
}

.navbar-start {
  align-items: flex-end;
}

.orange { color: $hh-orange; }
.blue { color: $hh-blue; }