@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import "./_variables.sass";
@import "~bulma/bulma";

h1, h1, h3, h4, h5, h6, .html-logo {
  font-family: $family-header;
}

.navbar-item { align-items: flex-end;line-height:1; }

.html-logo {
  display:inline-flex;
  flex-direction:row;
  font-size: $size-4;
  .content {
    margin-top:-.25rem;
  }
  svg { margin:.15rem; }
}

.nav-home { background-color: $grey !important; }
.nav-first { background-color: $green !important; }
.nav-second { background-color: $blue !important; }
.nav-third { background-color: $red !important; }
.nav-fourth { background-color: $purple !important; }

.navbar-start .navbar-item {
  height:2rem;
  border-radius:.6rem .6rem 0 0;
}

.navbar-start {
  align-items: flex-end;
}

.orange { color: $hh-orange; }
.blue { color: $hh-blue; }